<launch>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
        <param name="video_device" value="/dev/video1" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_name" value="position_camera" />
    </node>

    <node name="ball_position" pkg="stewart_platform" type="ball_tracker.py" />

</launch>
